.title {
  font-size: 5rem;
  margin: auto;
  margin-left: 2rem;
}



/* ^^DEFINING COMPONENTS FOR WEBSITE^^ */

body {
  font-family: Helvetica;
  margin: 0;

}

input,
label {
  display: block;
}

input {
  margin-bottom: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background: black;
}

#logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
}

nav ul {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav a {
  display: block;
  color: #FFF;
}

ul li ul.drop_down li {
  display: block;
}

ul li ul.drop_down {
  width: 100%;
  background: gray;
  position: absolute;
  z-index: 999;
  display: none;
}

ul li:hover ul.drop_down {
  display: block;
}



form {
  padding: 1rem;
  border: 1px solid #CCC;
  width: 15rem;
  margin: 1rem auto;
}

/* automatically added by NavLink component */
.active {
  color: #EEBC32;
  font-weight: bold;
  font-style: italic;
}