@font-face {
  font-family: light_hel;
  src: url(../fonts/4215-font.otf);
}

/* .title, .header1 and .header2 use regular Helvetica font, all split in
varying sizes*/

.title {
  /* this is for really big titles (look at solutions in mock up for a visual)*/
  font-size: 8rem;
}

.header1 {
  /* for h1 tag */
  font-size: 4.5rem;
}

.header2 {
  /* for h2 tag */
  font-size: 2.5rem;
}

.body {
  /* footers, body texts, sub-headlines */
  font-family: light_hel;
}

.special_home_problem {
  font-family: light_hel;
  font-size: 2.5rem;
}

/* ^^DEFINING COMPONENTS FOR WEBSITE^^ */

html {
  background-color: #fefae0;
}

body {
  font-family: Helvetica;
  color: #432542;
  margin: 0;

}

input,
label {
  display: block;
}

input {
  margin-bottom: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background: transparent;
}


#logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: #FFF;
}

.nav-container ul {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-container a {
  display: block;
  color: #432542;
  text-decoration: none;
}

.nav-container a:hover {
  color: #842f81;
}

ul li ul.drop_down li {
  display: block;
}

ul li ul.drop_down {
  width: 100%;
  background: gray;
  position: absolute;
  z-index: 999;
  display: none;
}

ul li:hover ul.drop_down {
  display: block;
}

.sign_up img {
  width: 2rem;
}

.logged_in img {
  width: 2rem;
}

form {
  padding: 1rem;
  border: 1px solid #CCC;
  width: 15rem;
  margin: 1rem auto;
}

/* automatically added by NavLink component */
.active {
  font-weight: bold;
  font-style: italic;
}

.home_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

#join_link {
  font-style: italic;
}

.forum_container {
  padding-top: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* gap: 6rem; */
}

.form_container {
  flex: 1;
  padding-right: 7rem;
}

.post_container {
  flex: 2;
}

#input {
  padding-top: 0.56rem;
}

#label {
  padding-left: 0.8rem;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0.5rem;
}

.button_post,
.button_filter {
  padding-top: 1rem;
  display: flex;
  justify-content: center;
}

/* .form_popup {
  display: none;
} */

/* desktop -> mobile resizing */

.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}


@media (max-width: 1536px) {
  .container {
    max-width: 1236px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
}

@media (max-width: 475px) {
  .container {
    width: 100%;
  }

  .home_container {
    flex-direction: column;
  }

  .problem_container {
    padding-bottom: 4rem;
  }

}